body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5vw;
    font-size: 2vw;
}



.container{
    display: flex;  
    flex-grow: 1; 
    gap:20px;
}

button{
    display: flex;
    flex: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 20vw; 
    height: 20vw; 
    border-radius: 50%; 
    color: transparent; /* Hide the text content */
}


.reset{
    height: 10vw;
    color:black;
    border-radius: 5%;
    font-size: 2vw;    

}
